registry=https://art.goodt.me/repository/npm-group/
//art.goodt.me/repository/npm/:_authToken=NpmToken.a37a33ec-6f96-37ac-971d-3de5b562e368
//art.goodt.me/repository/npm-group/:_authToken=NpmToken.a37a33ec-6f96-37ac-971d-3de5b562e368
