/.husky
/.utils
/dist
/tests
/src/types
/src/lib
/src/dev
/public
/scripts
/jsconfig.json
/.config
/babel.*
/jest.*
/styleguide.config.js
/CONTRIBUTING.MD
/index*.html

commitlint.*
.prettierignore
.prettierrc
.eslintignore
.idea
node_modules
.stylelintrc
postcss.config.js
vite.config.js
vue.config.js
.eslintrc.js
.putout.json
.browserslistrc
